* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* list-style: none; */
}

p, #section5 ul li {
    font-size: 1rem;
}

img {
width: 100%;
height: 100%;
}

h1 {
    font-size: 6rem;
    padding: 2rem 0 0 2rem;
    font-family: 'Great Vibes', cursive;
}

h2 {
    font-size: 4rem;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin-top: 3rem;
}

h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    width: 25vw;
}
.logotitre2 {
    display: flex;
    align-items: center;
    height: 12vh;
    width: 95vw;
    margin-top: 3vh;
}
.logopied {
    width: 10vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(184, 220, 171, 1);
}

ul {
    list-style-type: none;
    display:flex;
    font-size: 1.8rem;
    
}
ul li a {
    color: black;
    text-decoration: none;}

div ul li {
    margin-right: 2rem;
}
.imageheader-container {
    height: 10vh;
    margin-left: 2.5rem;
}

.imageheader-container a img {
    border-radius: 50%;
}

#section1 {
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/bgindex.jpeg);
}

.logotitre2 img {
    height: 100%;
    margin-left: 8vw;
}
#section2, #section4 {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    width: 80vw;
    margin: 5vh 10vw 10vh 10vw;
}
#section5 {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    width: 80vw;
    margin: 5vh 10vw 20vh 10vw;
}

#section4 p, #section4 div, #section5 div {
    flex: 1; 
}

#section2 p, #section2 div {
    flex: 1;
}
.section5div2 {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

#section2 p, #section4 p {
    margin-right: 10% ;
}

footer, footer div{
    height: 10vh;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(184, 220, 171, 1);
}

#section4, #section5, #section6, #section7 {
    display:flex;
    justify-content: space-around;
}

#section4 div {
    height: 35vh;
}

.salonpicandloc {
    display: flex;
    height: 45vh;
    justify-content: space-around;
}

.salonpicandloc div img {
    border-radius: 15px;
}
.salonpicandlocclass1 {
    flex: 1;
    margin: 2.5% 2.5% 2.5% 2.5%;
    border-radius: 15px;
    min-width: 20vw;
}

#section3 {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    margin-top: 5vh;
}

.button1 {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(184, 220, 171, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6); 
}

.button1:hover {
    background-color: rgb(152, 195, 136);
}

.button1:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 15vh;
    right: 2.2vw;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(184, 220, 171, 1);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
