* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

p, #section5 ul li {
    font-size: 1rem;
}

img {
width: 100%;
height: 100%;
}

h1 {
    font-size: 6rem;
    padding: 2rem 0 0 2rem;
    font-family: 'Great Vibes', cursive;
}

h2 {
    font-size: 4rem;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    margin-top: 3rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(184, 220, 171, 1);
}

ul {
    list-style-type: none;
    display:flex;
    font-size: 1.8rem;
    
}
ul li a {
    color: black;
    text-decoration: none;}

div ul li {
    margin-right: 2rem;
}
.imageheader-container {
    height: 10vh;
    margin-left: 2.5rem;
}

.imageheader-container a img {
    border-radius: 50%;
}

#section1 {
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/bgindex.jpeg);
}
.logotitre2 {
    display: flex;
    height: 12vh;
    width: 10vw;
}

.logotitre2 img {
    height: 100%;
}
#section2 {
    display: flex;
    height: 50vh;
}
#section2 p {
    flex: 1;
}
#section2 div {
    flex: 1;
}

.salonpicandloc {
    display: flex;
    height: 30vh;
}

footer, footer div{
    height: 10vh;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(184, 220, 171, 1);
}

#section4, #section5, #section6, #section7 {
    display:flex;
    justify-content: space-around;
}



#section4 div, {
    height: 35vh;
}

.salonpicandloc {
    display: flex;
    justify-content: space-between;
    height: 60vh;
}

.salonpicandloc div img {
    border-radius: 15px;
}
.salonpicandlocclass1 {
    flex: 1;
}